<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">
<title>Welcome Page</title>
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
<nav style="width: 100%;" class="myReference">
<a class="  navbar-brand" href="#" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-botttom: 0px;">
    <img style="max-height: auto; width:100%;" src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}" 
    class="img-responsive" style="margin-top:0px;style=width: auto; height: auto; min-width:100%; min-height: auto;">
 <ul class='nav-links'>
 <li><a class="active" href="/aboutme">About Me</a></li>
</ul>
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}


</style>

<style>
.myDiv {
  border: 10px outset #577ac0b5;
  background-color: #917a3778;    
  text-align: center;
}

.my_Div {
  border: 10px outset #7bf797;
  background-color: #da4f8e;    
  text-align: center;
}


.myReference {
  border: 10px outset #f7f37bc2;
  background-color: #210b0bc7;    
  text-align: center;
}

.button {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.button1 {
  background-color: white; 
  color: black; 
  border: 5px solid #7e50c4db;
}

.button1:hover {
  background-color: #f64949ab;
  color: aqua;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 5px solid #bd4d73c9;
}

.button2:hover {
  background-color: #0eab60;
  color: aqua;
}
.blink {
            animation: blinker 1.5s linear infinite;
            color: burlywood;
            font-family: sans-serif;
        }
        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
        
.blink1 {
            animation: blinker 1.5s linear infinite;
            color: azure;
            font-family: sans-serif;
        }
        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
        
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


</style>
</head>

<body>
      
<div>
           
<div class="col-md-12">
<center><p style="font-size:40px;color:white;margin-top:10px;">Poornima Institute of Engineering & Technology</p></center> 
<center><p style="font-size:30px;color:white;margin-top:10px;">Department of Computer Engineering</p></center> 

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class= "animate-charcter">Summer Internship 2022 on Machine learning and Data Science</h2>
      <br><br>
<h3 class= "animate-charcter"><i>Developed by Shakti Sarada Prasad</i></h3>
    </div>
  </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 700px;" src="{{ url_for('static',filename = 'image/ai5.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Data PreProcessing for ML</h5>
                            <p class="card-text">Data preprocessing is a process of preparing the raw data and making it suitable for a machine learning model. It is the first and crucial step while creating a machine learning model. Data preprocessing is neccessory to train ml model.</p>
            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
<div class="col-xs-12 col-md-4">
                <div class="card mb-3" >

                    <div class="card">
                        <img style="max-height: 700px;"
                            src="{{ url_for('static',filename = 'image/ai1.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Supervised Machine Learning</h5>
                            <p class="card-text">Supervised learning is the machine learning task of learning a function
                                that maps an
                                input to an output based on example input-output pairs. It infers a function from
                                labeled training data
                                consisting of a set of training examples.</p>

                            <a href="https://cs-house-price-prediction.herokuapp.com/"> <button type="button" class="btn btn-outline-primary">Explore Linear Regression Project
                            &#9655;</button></a> <br><br>
                                    
                            <a href="https://knn-project-shakti-sarada.herokuapp.com/"> <button type="button" class="btn btn-outline-primary">Explore KNN Project
                                    &#9655;</button></a> <br><br>
                                    
                            <a href="https://project6-shakti-sarada.herokuapp.com/"> <button type="button" class="btn btn-outline-primary">Explore Minor Project
                                    &#9655;</button></a> <br><br>
                                    
                            <a href="https://project8-shakti-sarada.herokuapp.com/"> <button type="button" class="btn btn-outline-primary">Explore Minor Project 
                                    &#9655;</button></a> <br><br>
                                    
                            
                        </div>

                    </div>

                </div>
            </div>
            
<div class="col-xs-12 col-md-4">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 700px;"
                            src="{{ url_for('static',filename = 'image/ai2.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Unsupervised Machine Learning</h5>
                            <p class="card-text">Unsupervised learning is a type of algorithm that learns patterns from
                                untagged data.
                                The hope is that through mimicry, the machine is forced to build a
                                compact internal representation of its world and then generate imaginative content.</p>

                            <a href="https://kmeans-project-shakti-sarada.herokuapp.com/"><button type="button" class="btn btn-outline-primary">Explore Unsupervised Machine Learning Project &#9655;</button></a>
                        </div>


                    </div>
                </div>
            </div>
            
       
<div class="col-xs-12 col-md-4">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 700px;"
                            src="{{ url_for('static',filename = 'image/ai3.jpg')  }}"
                            class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Natural Language Processing</h5>
                                <p class="card-text">Natural language processing (NLP) refers to the branch of computer science—and more specifically, the branch of artificial intelligence or AI—concerned with giving computers the ability to understand text and spoken words in much the same way human beings can.</p>

                            <a href="https://shakti-sarada-nlp-project.herokuapp.com/"><button type="button" class="btn btn-outline-primary">Explore Natural Language Processing Project &#9655;</button></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="col-xs-12 col-md-4">
        <div class="card mb-3">

            <div class="card">
                <img style="max-height: 700px;"
                    src="{{ url_for('static',filename = 'image/ai4.jpg')  }}"
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Major Project</h5>
                        <p class="card-text">Sentiment analysis of a movie review can rate how positive or negative a movie review is and hence the overall rating for a movie. Therefore, the process of understanding if a review is positive or negative can be automated as the machine learns through training and testing the data.</p>

                    <a href="/home"><button type="button" class="btn btn-outline-primary">Explore Major Project &#9655;</button></a>
                </div>


            </div>
        </div>
    </div>
    
    
    <div class="container">
          <div class="row">
               <div class="col-xs-12 col-md-12">
                   <div class="card mb-3 "; style="background-color:lightcyan;left: 200px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:1000px; height: 300px;">
                       <div class="card-body">
                           <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">Machine Learning Internship</h2>
                           <a href="https://major-project-shakti-sarada.herokuapp.com/"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                           <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/Major.png')  }}"> 
                       </div>
                   </div>
               </div>
           </div>
       </div>        
       <br>
    <br><br><br><br><br><br>
    
    
<br>



<div class="myDiv">
        <marquee class="blink1" width="50%" direction="left" scrollamount="12" height="50px">
        <h2>
            Please Scan To Explore
            </h2>
        </marquee>
    </div> <br><br>


                
 <div class="container">
       <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:lightcyan;left: 200px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:1000px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">SVM And Random Forest Project</h2>
                        <a href="https://shakti-sarada-svm-random-forest-shakti-sarada-prasad-app-cwya0b.streamlitapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/svm-randm_forest.png')  }}"> 
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>
            
<div class="container">
      <div class="row">
           <div class="col-xs-12 col-md-12">
               <div class="card mb-3 "; style="background-color:lightcyan;left: 200px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:1000px; height: 300px;">
                   <div class="card-body">
                       <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">NLP Project</h2>
                       <a href="https://shakti-sarada-nlp-shakti-sarada-app-k3shgd.streamlitapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                       <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/nlp.png')  }}"> 
                   </div>
               </div>
           </div>
       </div>
   </div>        
   <br>
               
<div class="container">
      <div class="row">
           <div class="col-xs-12 col-md-12">
               <div class="card mb-3 "; style="background-color:lightcyan;left: 200px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:1000px; height: 300px;">
                   <div class="card-body">
                       <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">KNN Project</h2>
                       <a href="https://shakti-sarada-knn-deployment-app-rg6g14.streamlitapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                       <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/knn.png')  }}"> 
                   </div>
               </div>
           </div>
       </div>
   </div>        
   <br>

<div class="container">
      <div class="row">
           <div class="col-xs-12 col-md-12">
               <div class="card mb-3 "; style="background-color:lightcyan;left: 200px;top: 20px;border-width: 3px;border-radius: 40px;border-color: darkcyan; width:1000px; height: 300px;">
                   <div class="card-body">
                       <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">Decision Tree Project</h2>
                       <a href="https://shakti-sarada-desicion-tree-project-shakti-sarada-pr-app-rx9xwr.streamlitapp.com//"><input class="btn btn-primary" type="button" value="Try It Yourself" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                       <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/decision-tree.png')  }}"> 
                   </div>
               </div>
           </div>
       </div>
   </div>        
   <br><br>
                  
<div class="col-md-12" style="background-color:green;" >
<div class="clearfix">
           
<div class="col-md-12">
 <center><p style="font-size:25px;color:aqua;margin-top:20px;border: 30px outset #e7bb3a;">Experiment Performed in Summer internship 2022 from 27 June to 8 August </p></center> 
</div>

</div>
</div><br><br>


<div class="myDiv">
        <marquee class="blink1" width="80%" direction="left" scrollamount="12" height="100px">
        <h2>
            This model is developed by Shakti Sarada Prasad,Student of Computer Science Engineering Department
            </h2>
        </marquee>
    </div>
    <div class="col-md-12">
              <center><h3 class="section-title" style="text-align: center; color:white;">Sponsored by</h3></center>
            </div>
          
          <br>
          <br>
          

                     
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/AICTEIdeaLabFooterLogo.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/nbanew.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">NBA</h5>
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
            <div class="col-xs-10 col-md-3">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 200px;"
                            src="{{ url_for('static',filename = 'image/aicte-logo.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                            
                        </div>

                    </div>

                </div>
            </div>
        
</body>
</html>